
@media (max-width: 768px){
    
    .ber_icon {
        display: block;
        margin-left: 15px;
        font-size: 20px;
        margin-top: 10px;
        background: #000000a3;
        padding: 6px;
        color: white;
        border-radius: 5px;
        cursor: pointer;

    }
    .ber_icon {
        display: block;
        margin-left: 15px;
        font-size: 20px;
        margin-top: 10px;
        background: #000000a3;
        padding: 6px;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        width: 42px;
        text-align: center;
    }
    .nav_links {
        position: absolute;
        background: white;
        z-index: 9;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        top: 4px;
        left: 7%;
        min-width: 200px;
        display: none;
    }
    .nav_links ul li {
        display: block;
    }
    .banner_content h2 {
        font-size: 35px;
    }
    .video_btn {
        width: 42%;
    }
    .reverse_btn_ {
        width: 40%;
    }
    .about_btn {
        width: 38%;
    }
    .single_service {
        width: 48.7%;
    }
    .apo_figure {
        display: none;
    }
}